<!-- A content heading -->
<% if (title) { %>
    <h1 class="bold" id="loginTitle"><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
<!-- A message -->
<%- messages() %> 

<% if (errors) { %>
  <ul class="notice semi-bold">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!-- The login view -->
<form id="loginForm" action="/account/login" method="post">
    <label for="account_email" class="regular">Email:*</label><br>
    <input type="email" class="regular" placeholder="Enter a valid email address" id="account_email" name="account_email" required value="<%= locals.account_email %>"><br>
    <label for="account_password" class="regular">Password:*</label><br>
    <input type="password" class="regular" id="account_password" name="account_password" required><br>
    <input type="submit" id="loginButton" value="Log in" class="regular">
    <p class="regular">No account? <a href="/account/register" class="semi-bold">Sign-up</a></p>
</form>

