<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright regular">&copy; <%= year %>, CSE 340 App</p>
  <a class="regular" id="error" href="/inv/throwError">Error link</a>
</footer>