<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <!-- Remember that EJS assumes that all static files are automatically 
    inside the public folder. That is why public in the not in the path for css sheet -->
    <link rel="stylesheet" href="/css/styles.css" media="screen">
</head>