<header id="top-header">
    <span class="siteName">
      <a class="bold" href="/" title="Return to home page">New Motors</a>
    </span>
    <div id="tools">
        <a class="regular" href="/account"><i>Welcome <%- locals.accountData.account_firstname %></i></a>
        <a id="logoutHeader" class="regular" title="Click to log in" href="/clear-cookie">| Logout</a>
    </div>
</header> 