<h1 class="bold">Welcome to CSE Motors</h1>
<%- messages() %>
<div id="hero">
    <picture>
        <source srcset="../images/vehicles/delorean.jpg" media="(min-width: 45em)">                 
        <img src="../images/vehicles/delorean-tn.jpg" alt="car">
    </picture>
    <div id="floatingBox">
        <h2 class="semi-bold" >DMC Delorean</h2>
        <p class="medium" >3 Cup holders<br>Superman doors<br>Fuzzy dicel</p>
        <button id="ownToday" class="semi-bold">Own Today</button>
    </div>
</div>
<div id="reviewUpdate">
    <div id="reviews">
        <h2 class="semi-bold" >DMC Delorean Reviews</h2>
        <ul id="reviewsList" class="regular">
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day."(4.5/5)</li>
            <li>"80's livin and I love it!"(5/5)</li>
        </ul>
    </div>
    <div id="upgrades">
        <h2 class="semi-bold">Delorean Upgrades</h2>
        <div id="flux">
                <a href="#">
                <img src="../images/upgrades/flux-cap.png" alt="flux capacitor">
                <p class="regular">Flux Capacitor</p>
                </a>
            </div>
        <div id="flame">
                <a href="#">
                <img src="../images/upgrades/flame.jpg" alt="flame decals">
                <p class="regular">Flame Decals</p>
                </a>
            </div>
        <div id="bumper">
                <a href="#">
                <img src="../images/upgrades/bumper_sticker.jpg" alt="bumper stickers">
                <p class="regular">Bumper Stickers</p>
                </a>
            </div>
        <div id="hub">
                <a href="#">
                <img src="../images/upgrades/hub-cap.jpg" alt="hub caps">
                <p class="regular">Hub Caps</p>
                </a>
            </div>
    </div>
</div>


