/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Small Screen */
nav ul{
  display:block;
}
nav ul li{
  /* display:flex;
  justify-content:space-between; */
}
