<!-- A content heading -->
<% if (title) { %>
    <h1 class="bold" id="vehicles"><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
<!-- A message -->
<%# messages() %> 

<!-- The inventory items display -->
<%- grid %>