<!-- A content heading -->

<% if (title) { %>
    <h1 class="semi-bold" id="managementTitle"><%= title %></h1>
    <%- messages() %> 
    <a class="regular" href="/inv/add-classification"><p>Add New Classification</p></a>
    <a class="regular" href="/inv/new-vehicle"><p>Add New Vehicles</p></a>
    <h2 class="semi-bold" id="inventoryManagementHeader">Manage Inventory</h2>
    <p class="regular">Select a classification from the list to see the items belonging to the classification</p>
    <%- classificationSelect %>
    <table id="inventoryDisplay"></table>
<% } else {
  res.redirect('/')
} %>

<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="../../js/inventory.js"></script>

