<!-- Header -->
<% if (title) { %>
    <h1 class="bold" id="replyTitle"><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<% if (errors) { %>
    <ul class="notice semi-bold">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  
<%- div %>

<div class="regular" id="messageActions">
<a href="/inbox/message/reply">Reply</a><br><br>
<a href="">Mark as Read</a><br><br>
<a href="">Archive Message</a><br><br>
<a href="">Delete Message</a><br><br>
</div>